<p> You have been invited by a friend to join our network.</p>
<p>Follow the link below to join and earn yourself $10 reward</p>
<p><a href="<%= @register_url_with_referral %>">Register</a></p>
<p>You can also copy and paste the url below on the browser</p>
<p><%= @register_url_with_referral %></p>